
body{
    background-color:#191816 ;
    margin: 0;
}

main{
    display: flex;
}

#divConteudo{
    background-color:#24221f ;
    text-align: center;
    width: 55%;
    border-radius: 20px;
    margin-top: 200px;
    margin-right: 20px;
    margin-bottom: 55px;
}

#img_carro{
    width: 80%;
    height: 43em;
}

#img_logo{
    width: 100px;
    height: 100px;
    margin-left: 11px;
}

#divConteudo{
    color:  #afb6c2;
}



.registro{
    display: flex;
    margin-left: 90px;
}

.registro>a{
    margin-top: 14px;
    margin-left: 30px;
}

a{
    color: #ffc632;
}

button{
    background-color: #ffc632;
    width: 110px;
    height: 50px;
}

#e-mail{
    background-image: url("/img/mail.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
}