
body{
    background-color:#191816 ;
    margin: 0;
}

main{
    display: flex;
}

#divConteudo{
    background-color:#24221f;
    color:  #afb6c2;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    width: 55%;
    border-radius: 20px;
    margin-top: 200px;
    margin-right: 20px;
    margin-bottom: 55px;
}

#img_carro{
    width: 80%;
    height: 43em;
}

#img_logo{
    width: 100px;
    height: 100px;
    margin-left: 11px;
}

.email{
    display: flex;
    flex-direction: column;   
    margin-bottom: 10px;
}

.email>label{
    margin-right: 225px;
}

.email>input{
    width: 40%;
    margin-left: 26%;
}

.password{
display: flex;
flex-direction: column;
}

.password>label{
    margin-right: 225px;
}

.password>input{
    width: 40%;
    margin-left: 26%;
}

.facaSeulogin{
    display: flex;
    margin-left: 30%;
}

.facaSeulogin>img{
    margin-right: 10px;
}

.registro{
    display: flex;
    margin-left: 26%;
    margin-bottom: 7px;
}

.registro>a{
    margin-top: 14px;
    margin-left: 20px;
}

a{
    color: #ffc632;
}

button{
    background-color: #ffc632;
    cursor: pointer;
    width: 110px;
    height: 50px;
}

#email{
    background-image: url("/img/mail.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
}

#password{
    background-image: url("/img/lock.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
}

#email:focus-within{
    border-color: #ffc632;
    background-image: url("/img/mail-focus.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
}

#password:focus{
    background-image: url("/img/lock-focus.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    
}
